body{
color: #40514E;
margin:0;
text-align: center;
font-family:'Merriweather', serif;
}
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #FFDEDE;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #FFDEDE;
  font-weight:bold;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #FF8B8B;
  font-weight: bold;
  font-size: 1.5rem;
}
a{
color: #FF8B8B;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color:#FFDEDE;
}
p{
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  line-height: 2;
}
.top-container{
  background-color: #ABC9FF;
  padding-top: 100px;
}

.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  text-align: center;
  margin: auto;
}
.bottom-cloud{
  position:absolute;
  left:400px;
}
.top-cloud{
  position: absolute;
  right: 500px;
  top: 50px;

}
.skill-row{
  width:50%;
  margin:200px auto;
  text-align: left;

}
.skills-image{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.competition{
  width: 25%;
  float:right;
  margin-left: 30px;
}

.btn{
  background: #FF8B8B;
  background-image: -webkit-linear-gradient(top, #FF8B8B, #2980b9);
  background-image: -moz-linear-gradient(top, #FF8B8B, #2980b9);
  background-image: -ms-linear-gradient(top, #FF8B8B, #2980b9);
  background-image: -o-linear-gradient(top, #FF8B8B, #2980b9);
  background-image: linear-gradient(to bottom, #FF8B8B, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family:'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #FF8B8B 2px;
  text-decoration: none;
}

.btn:hover{
  background: #FF8B8B;
  background-image: -webkit-linear-gradient(top, #FF8B8B, #3498db);
  background-image: -moz-linear-gradient(top, #FF8B8B, #3498db);
  background-image: -ms-linear-gradient(top, #FF8B8B, #3498db);
  background-image: -o-linear-gradient(top, #FF8B8B, #3498db);
  background-image: linear-gradient(to bottom, #FF8B8B, #3498db);
  text-decoration: none;
}

hr {
  border-style: dotted none none;
  border-color: #FFDEDE;
  border-width: 10px;
  width: 10%;
  margin: 100px auto;
}

.middle-container{
  padding: 100px 0;
}
.bottom-container{
  background-color: #ABC9FF;
  padding: 50px 0 20px;
}
.footer-link{
  margin:20px 20px;
}
.contact-me{
  margin:50px auto;
}
.contact-message{
  width: 40%;
  margin: 50px auto;
}
.copyright{
  color: #FFDEDE;
  padding-top: 100px;
}
